/* 
This document is own by Kennette J. Canales.

No portion of this document shall be use or copy  by anyone without the authorization of the owner.
That act stated above is against the law of IP or Intellectual Property.

This document is exclusive to the website (commcuriosity) develop by the following members of the team:

1. Kennette J. Canales
2. Joseph Carlo Ruiz 

@copyright 2016
@communicaction curiosity
@department of communications, linguistics and literature
*/
@media screen and (max-width: 1024px){
.header-content-holder{
	height:100px;
	width:100%;
	float:left;
}	
#header-latest-posts{
	display:none;
}
}