/* CSS Document */
body{
font-family:Candara;
}
.login-page-container{
	height:250px;
	width:350px;
	border-color:#CCCCCC;
	border-style:solid;
	border-width:0px 1px 1px 1px;
	border-radius: 10px 10px 10px 10px;
}

#login-p-header{
	height:50px;
	width:100%;
	float:left;
	text-align:center;
	background:#224144;
	color:#FFFFFF;
	border-radius: 10px 10px 0px 0px;
}
#login-notif{
	display:none;
}
#login-text-header{
	margin-top:10px;
}

#login-content-holder{
	height:50px;
	width:330px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}
#login-field-icon{
	height:40px;
	width:40px;
	float:left;
}
#login-textfield{
	height:40px;
	width:280px;
	float:left;	
}
.textfield{
	width:100%;
	height:100%;
	font-family:Candara;
	font-size:100%;
	border-radius: 5px 5px 5px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	
}

#login-p-footer{
	height:50px;
	width:330px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}

#login-button{
	height:40px;
	width:100px;
	float:left;
}
.button{
	background:#224144;
	color:#FFFFFF;
	height:100%;
	width:100%;
	border-radius: 5px 5px 5px 5px;
	border:hidden;
}